.sidebar-style {
    position: fixed;
    display: flex;
    width: 200px;
    background-color: black;
    color: white;
    height: 100%;
    align-items: center;
    padding: 12px;
}


.sidebar-style .text-align-right {
    text-align: right;
}