.plan-card.selected {
    border-color: #4A90E2;
    Box-shadow: 0px 2px 8px 0px rgba(74,144,226,1);
}

.plan-card {
    Border-radius: 4px;
    Width: 270px;
    Height: 400px;
    Text-align: center;
    Border-color: #4A4A4A;
}